header {
  display: flex;
}
header h1 {
  display: flex;
  width: 250px;
  align-items: center;
}

.container-header {
  margin-right: 30px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.header-profile {
  flex-direction: column;
}
.control-main {
  min-width: 240px;
  height: 800px;
}

.btn-search {
  position: relative;
  right: 5px;
}

.product-search {
  max-width: 100%;
}

.product-items {
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
.item {
  width: 300px;
}

.button {
  height: 38px;
}
